<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>来到最新的Moment世界！</title>
	<link rel="stylesheet" type="text/css" href="../css/share.css" />
	<style type="text/css">
		#bigicon {
			border-radius: 5px 5px 0 0;
			background: #fff;
			width: 1075px;
			margin: auto;
		}
	</style>
</head>

<body>
	<%-include public/header.ejs%>
		<div id="main" style="margin-top:1em">
			<div id="bigicon">
				<center>
					<img src="../img/zuixin/zuixin.png">
				</center>
			</div>
			<%-include public/picturesList.ejs%>
		</div>
</body>

</html>