<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>探索！发现！分享！欢迎来到Moment~！</title>
</head>


<body>
    <%-include public/header.ejs%>
        <div>
            <header class="banner">
                <div id="Moment">
                    <strong>Moment</strong>
                </div>
                <div id="tansuofaxian">
                    <i>
                        <strong>探索 发现 分享精彩！</strong>
                    </i>
                </div>
                <form>
                    <input id="homesearch" type="text" name="search" placeholder="请输入图片关键词" style="font-size:14px;" />
                    <input id="homesearchbuttun" type="button" name="search" value="搜&nbsp;&nbsp;索" />
                </form>
                <div class="img-box long">
                    <img src="img/main/banner.jpg">
                    <img src="img/main/banner.jpg">
                    <img src="img/main/banner.jpg">
                    <img src="img/main/banner.jpg">
                    <img src="img/main/banner.jpg">
                </div>
            </header>
            <%-include public/picturesList.ejs%>
                <style>
                    #picturgroup {
                        width: 1240px;
                        margin: 0 auto;

                    }
                </style>
</body>

</html>