<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../CSS/share.css" />
		<link rel="stylesheet" type="text/css" href="../CSS/personalCenter.css"/>
		<link rel="stylesheet" href="../CSS/authority.css">
		<link rel="stylesheet" href="../CSS/login.css">
		<link rel="stylesheet" href="../CSS/sighup.css">
		<script src="../JS/side.js"></script>
	</head>
<style>
	.fangxiandiv_div{
		background: none;
	}
</style>
	<body>
			<%-include public/header.ejs%>
	<div id="main">
			<div id="picturgroup">
				<div id="gereninform">
					<h2>个人信息</h2>
				<form>
					<hr/>
					<div style="margin-left:4em;text-align: center;width:100px;margin-top: 1em;vertical-align: top; display: inline-block;">
						<img id="gerenxinxitouxiang" src="/img/faxian/xin.png" />
						<br> asdfasfas
						<input type="file"/>				
					</div>
					<div id="xinxixiugaiyou">
						<p>修改密码:<input type="text"/></p>
						<p style="margin-top: 2em;">性别:<label><input name="sex" type="radio"/>男</label><label><input name="sex" type="radio" style="margin-left:4em;"/>女</label></p>
						<p>联系电话:<input type="text"/></p>
						<div style="margin-top:6em;">
						<input type="submit" name="" style="width: 150px;" class="picture_info_submit" value="提交" />
						<input type="reset" name="" class="picture_info_reset" value="重置" />
						</div>
					</div>
				</form>
				</div>
	
			<h2>上传图片</h2>
			<hr />
			<div class="tupianguanli">
				<form action="">
					<p>1.上传图片名称：</p>
					<input type="text" name="" id="picture_title_input" value="" placeholder="请给图片标题命名" />
					<!--<button style="height:2.2em;">确定</button>-->
					<div>
						<div class="shangchuanwenjian_2_div">
							<p>2.请上传图片文件：</p>
							<input type="file" id="picture_file_input" />
						</div>
						<div class="shangchuanwenjian_2_div">
							<p>3.备注：</p>
							<textarea name="" rows="" cols="" id="picture_info_textarea">图片备注</textarea>
						</div>
					</div>
					<br />
					<div>
						<input type="submit" name="" class="picture_info_submit" value="提交" />
						<input type="reset" name="" class="picture_info_reset" value="重置" />
					</div>
				</form>
			</div>
	
			<h2>图片管理</h2>
			<hr />
			<br />
			<center>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
				<div class="fangxiandiv">
					<div class="fangxiandiv_div">
						<a href="/pictureslist/pictureManage">
							<button class="xin_icon left_top">编辑</button>
						</a>
						<a href="">
							<img src="img/faxian/samplepicture.png" class="picture" />
						</a>
						<button class="picture_tag right_bottom">删除</button>
						<p class="favorcount">
							收藏：22人
						</p>
					</div>
				</div>
	
				<br />
				<br />
				<br />
			</center>
		</div>
	</div>
		<div id="bac-ss" onclick="mybacclick()"></div>
	</body>

</html>