<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>收藏图片</title>
    <link rel="stylesheet" type="text/css" href="../css/share.css" />
    <style type="text/css">
        #bigicon {
            width: 1075px;
            margin: auto;
        }
    </style>
</head>

<body>
    <%-include public/header.ejs%>
        <div id="main">
            <div id="bigicon">
                <center>
                    <img src="../img/remen/remen.png">
                </center>
            </div>
            <div id="picturgroup" class="folders">

            </div>
        </div>
</body>

<script type="text/template" id="template">
    <div class="fangxiandiv">
        <div class="fangxiandiv_div">
            <a href='javascript:deleteFavor("{{=id}}");'>
                <img src="../img/faxian/x_icon.png" class="x_icon" />
            </a>
            <a href="/commentsList?Picture_id={{=id}}">
                <img src="../img/faxian/samplepicture.png" class="picture" />
            </a>
            <a href="/commentsList?Picture_id={{=id}}"  class="picture_tag">
                {{= title}}
            </a>
        </div>
    </div>
</script>

<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/underscore-noflect.js"></script>

<script type="text/javascript">
    getData();

    //Ajax请求数据
    function getData() {
        $.get("/picturesList/GetPicInFolder?folder_id=<%=folder_id%>", (result) => {
            //模板函数
            let compiled = _.template($("#template").html());
            //清空全部留言中的所有节点
            $(".folders").html("");
            for (let i = 0; i < result.length; i++) {
                //数据绑定
                let html = compiled({
                    title: result[i].picture.title,
                    id: result[i].picture._id,
                });
                //DOM操作，添加节点
                $(".folders").append($(html));
            }
        });
    }

    //Ajax删除文档
    function deleteFavor(picture_id) {
        $.get("/favor/delFavor?Picture_id=" + picture_id, (result) => {
            if (result.result === 1)
                getData();
        });
    }

</script>
</html>