<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>收藏图片</title>
    <link rel="stylesheet" type="text/css" href="/css/share.css" />
    <style type="text/css">
        #bigicon {
            width: 1075px;
            margin: auto;
        }
    </style>
</head>

<body>

    <%-include public/header.ejs%>
        <div id="main">
            <div id="bigicon">
                    <h1 style="background: rgba(255,255,255,0.7);padding:1em;padding-bottom:0.5em;font-size: 30px;">个人收藏</h1>
                    <hr style="border:2px solid rgba(250,250,250,0.9);">
            </div>
            <div id="picturgroup" class="folders">

            </div>
        </div>
</body>

<script type="text/template" id="template">
    <div class="fangxiandiv">
            <div class="fangxiandiv_div">
                <a  href="/commentsList?pictureId={{=id}}">
                    <img src="{{=path}}" class="picture" />
                </a>
                <div>
                    <span class="pic_title pic_favor_title">
                            {{= title}}
                    </span>

                    <a href='javascript:deleteFavor("{{=id}}");'>
                            <img src="../img/faxian/remove_favor_icon.png" class="zhuanfa_icon" />
                        </a>   
                </div>
            </div>
        </div>
</script>

<script type="text/javascript">
    getData();

    //Ajax请求数据
    function getData() {
        $.get("/picturesList/getPicInFolder?folderId=<%=folderId%>", (result) => {
            //模板函数
            let compiled = _.template($("#template").html());
            //清空全部留言中的所有节点
            $(".folders").html("");
            for (let i = 0; i < result.length; i++) {
                //数据绑定
                let html = compiled({
                    title: result[i].picture.title,
                    path :result[i].picture.path,
                    id: result[i].picture._id,
                });
                //DOM操作，添加节点
                $(".folders").append($(html));
            }
        });
    }

    //Ajax删除文档
    function deleteFavor(pictureId) {
        $.get("/favor/delFavor?pictureId=" + pictureId, (result) => {
            if (result.result === 1)
                getData();
        });
    }

</script>

</html>