<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>图片列表</title>
    <link rel="stylesheet" type="text/css" href="../css/share.css" />
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/underscore-noflect.js"></script>
    <style type="text/css">
        #bigicon {
            width: 1075px;
            margin: auto;
        }
    </style>
</head>

<body>
    <%-include public/header.ejs%>
        <div id="main" style="margin-top:1em">
            <div id="bigicon">
                <center>
                    <img src="../img/remen/remen.png">
                </center>
            </div>
            <%-include public/picturesList.ejs%>
        </div>
</body>

</html>