<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Momentd的今日排行！</title>
    <link rel="stylesheet" type="text/css" href="../css/share.css" />
    <link rel="stylesheet" type="text/css" href="../css/rank.css" />
</head>

<body>
    <%-include public/header.ejs%>
        <div id="main">
            <div id="picturgroup">
                <h1 id="bigtitile">今日排行</h1>

                <h1 class="titleNum" style="color:rgb(204,35,45);">1</h1>
                <div>
                    <a href="#">
                        <img src="../img/icon/爱心.png" class="axin_icon" />
                    </a>
                    <a href="">
                        <img src="../img/main/banner1.jpg" class="big_picture" />
                    </a>
                </div>


                <h1 class="titleNum">2</h1>
                <div>
                    <a href="#">
                        <img src="../img/icon/爱心.png" class="axin_icon" />
                    </a>
                    <a href="">
                        <img src="../img/main/banner4.png" class="big_picture" />
                    </a>
                </div>

                <h1 class="titleNum">3</h1>
                <div>
                    <a href="#">
                        <img src="../img/icon/爱心.png" class="axin_icon" />
                    </a>
                    <a href="">
                        <img src="../img/main/banner3.png" class="big_picture" />
                    </a>
                </div>

                <h1 class="titleNum">4</h1>
                <div>
                    <a href="#">
                        <img src="../img/icon/爱心.png" class="axin_icon" />
                    </a>
                    <a href="">
                        <img src="../img/main/banner2.png" class="big_picture" />
                    </a>
                </div>
            </div>
            <div id="bac-ss" onclick="mybacclick()"></div>
</body>

</html>