#side_login{
    width: 0;
    height:1000px;
    margin-top: -40px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    transition: all 0.3s;
    z-index:100;
}

.touxiangkuang{
    border: #AAAAAA 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 38%;
    margin-top: 4em;
}
.touxiang{
    margin-left: 10px;
    margin-top: 4px;
}
.fanhui{
    float: left;
    background-color: #E8565F;
    height: 40px;
    width: 40px;
    padding-top: 4px;
}

#side_login input,#side_signup input{ 
    width:335px;
    height:40px;
    border-radius: 6px;
    margin-left: 12%;
    font-family: "微软雅黑";
    
}
#side_login input[type="text"],#side_signup input[type="text"]{
    border:#AAAAAA 1px solid;
    margin-top: 30px;
    font-size: 14px;
    padding-left: 1em;
}
#side_login input[type="password"],#side_signup input[type="password"]{
    border:#AAAAAA 1px solid;
    margin-top: 30px;
    font-size: 14px;
    padding-left: 1em;
}
#side_login input[type="button"],#side_signup input[type="button"]{
    color: white;
    font-size: 16px;
    width:350px;
    font-weight: 600;
}
.tijiao{
    border: #E8565F 1px solid;
    background-color: #E8565F;
    margin-top: 40px;
}
.wangjimima{
    border: 1px solid #46B2E0;
    background-color: #46B2E0;
    margin-top: 20px;
}
#side_login div div div span p,#side_login p,#side_signup div div div span p{
    font-size: 14px;
    color: #AAAAAA;
    padding-left: 70px;
}
#line{
    border: #C4C4C4 1px solid;
    width:350px;
    margin-left: 58px;
    margin-top: 6px;;
}
.yuankuang{
    display: inline-block;
    width:40px;
    height: 40px;
    border: #AAAAAA 1px solid;
    border-radius: 30px;
    margin-left: 60px;
    margin-top:20px;
}
div.yuankuang a img{
    padding-left:4px; 
    padding-top: 4px;
}

