* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background: url(../img/xuehua.png);
}

.fangxiandiv {
	display: inline-block;
	width: 250px;
	height: 300px;
	padding: 0;
	margin: 1em 0.2em;
}

.picture {
	width: 250px;
	height: 250px;
	display: block;
	position: relative;
	top: 0;
	z-index: 1;
	padding:0;
}

.picturediv {
	height: 250px;
	display: block;
}

.fangxiandiv_div {
	position: absolute;
	height: 300px;
	background:#fff;
	box-sizing:border-box;
}

#picturgroup {
	padding:0 0 0 0.8em ;
	box-sizing: border-box;
	width: 1075px;
	margin: 0 auto;
	/*background: rgba(155,155,155,0.1);*/
	background: rgba(255, 255, 255, 0.7);
}

#picturgroup_div{
	width:1075px;
	margin:0 auto;
}

.xin_icon {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	z-index: 2;
}

.zancount{
	display: block;
	position: absolute;
	top: 0.4em;
	left:35px;
	z-index: 2;
	color: rgb(229,28,35);
	font-weight: bold;
}

.user_icon {
	float: left;
	margin:0.2em 0.5em 0.1em 0.8em;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: #E7E7E7 solid 2px;
}

.zhuanfa_icon {
	float: right;
	margin:7px 7px 0 0;
	cursor: pointer;
	width:35px;
}

.pic_title{
	display:inline-block;
	line-height:50px;
	font-size:1.1em;
	max-width:8em;
	white-space: nowrap;
	overflow:hidden;
		margin-left:1em;
}

.picture_tag {
	text-decoration: none;
	position: absolute;
	bottom: 50px;
	right: 0;
	z-index: 2;
	padding: 0.2em 0.8em;
	/*display: block;*/
	border-radius: 5px;
	background: #000;
	color: #fff !important;
}

.favorfolderspicture{
	width:150px !important;
	height:auto !important;
}

.x_icon{
	width:23px;
}


.favorfolderdiv{
	height:auto !important;
	background:none !important;
}

