	#pinglun_div {
				width: 650px;
				padding: 1em;
				border: rgb(224, 224, 224) solid 2px;
				height: auto;
				overflow: auto;
				margin: 0 auto;
			}
			
			.user_pinglun_div_left {
				float: left;
			}
			
			.user_pinglun_div_right {
				float: right;
			}
			
			.user_pinglun_div_left,
			.user_pinglun_div_right {
				margin: 0 0 0.5em 0;
				display: block;
				clear: both;
			}
			
			.pinglunzuo_icon {
				float: left;
				margin: 0.5em 0;
			}
			
			.pinglunyou_icon {
				float: right;
				margin: 0.5em 0;
			}
			
			.pinglun {
				margin: 0.5em 0;
				line-height: 40px;
				display: inline-block;
				background: #78BAF9;
				border-radius: 5px;
				color: #fff;
				padding: 0 1em;
			}
			
			.user_pinglun_div_right .pinglun {
				margin: 0.5em -0.5em 0;
			}
			
			.time_tag {
				float: right;
				font-size: 0.8em;
			}
			
			.user_pinglun_div_left .time_tag {
				margin-right: 1em;
			}
			
			.user_pinglun_div_right .user_icon {
				float: right;
			}
			
			#pinglunarea {
				resize : none;
				display: block;
				width: 450px;
				height: 150px;
				margin: 0 auto;
				border: rgb(224, 224, 224) solid 2px;
			}
			
			#pinglunqu {
				background: #fff;
				border: rgb(224, 224, 224) solid 1px;
				border-radius: 5px;
			}
			
			#pinglunform {
				text-align: center;
			}
			
			#pinglunform input[type="submit"] {
				margin: 0.5em 0;
				background: #FFFFFF;
				border-radius: 5px;
				border: rgb(224, 224, 224) solid 2px;
				padding: 0.2em 1em;
			}
			
			#picture_info{
				width:100%;
			}
			
			#picture_title{
				background:#FFFFFF;
				border-radius: 5px;
				border: rgb(224, 224, 224) solid 1px;
				color:rgb(232,86,95);
				text-decoration: none;
				font-size: 1.5em;
				padding: 0 0.2em;
				line-height: 30px;
				display: inline-block;
			}
			
			#zancount{
				color:rgb(232,86,95);
				font-weight: bold;
				font-size: 0.8em;
			}
			
			#picturgroup{
				margin-top:5em;
			}
