<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/underscore-noflect.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/css/sighup.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/authority.css">
<link rel="stylesheet" href="/css/home.css">
<style>
</style>
<script src="/js/side.js"></script>
<div>
    <nav id="nav_box" class="userAvater">
        <span>
            <a href="/">
                <p>首页</p>
            </a>
        </span>
        <span>
            <a href="/picturesList/discover">
                <p>发现</p>
            </a>
        </span>
        <span>
            <a href="/picturesList/freshNew">
                <p>最新</p>
            </a>
        </span>
        <span>
            <a href="/picturesList/trendingPic">
                <p>热门</p>
            </a>
        </span>
        <span>
            <a href="/picturesList/rank">
                <p>今日排行</p>
            </a>
        </span>
    </nav>

    <div id="side_login">
        <!--返回按钮-->
        <a href="#">
            <div class="fanhui" onclick="nav_hidden()">
                <img src="/img/icon/返回.png">
            </div>
        </a>
        <!--头像框-->
        <div class="touxiangkuang">
            <img class="touxiang" src="/img/icon/姓名用户名(未注册).png">
        </div>
        <form action="/user/login" method="post">
            <input type="text" name="username" placeholder="请输入您的用户名或邮箱" required>
            <input type="password" name="password" placeholder="请输入您的密码" required>
            <input class="tijiao" type="submit" value="提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交">
            <input class="wangjimima" type="button" value="忘记密码">
        </form>
    </div>

    <div id="side_signup">
        <!--返回按钮-->
        <a href="#">
            <div class="fanhui" onclick="nav_hidden()">
                <img src="/img/icon/返回.png">
            </div>
        </a>
        <!--头像框-->
        <div class="touxiangkuang">
            <img class="touxiang" src="/img/icon/姓名用户名(未注册).png">
        </div>
        <form action="/user/createUser" method="post">
            <input type="text" name="username" placeholder="请填写您的用户名">
            <!-- <input type="text" placeholder="请填写您的邮箱"> -->
            <input type="password" name="password" placeholder="请填写您的密码" required>
            <input type="password" name="confirm" placeholder="请再次填写您的密码" required>
            <input class="tijiao" type="submit" value="注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册">
            <input class="wangjimima" type="button" value="返回登陆" onclick="nav_hidden();nav_side1();">
        </form>
    </div>
</div>

<div id="bac-ss" onclick="mybacclick()"></div>

<script type="text/template" id="userTemplate">
    <input type="hidden" value="{{=isLogin}}" id="isLogin">
    {{if(isLogin==true){ }}
    <span>
        <a href="/picturesList/favorFolders">
            <p>个人收藏</p>
        </a>
    </span>
    <a href="/user/logout" id="loginout">注销</a>
    <a href="/user/personalCenter">
        <div id="rightname">{{=username}}</div>
            <img id="justlogin" src="{{=avatar}}" alt="" >
    </a>
    {{ }else { }}
        <a href="#">
            <div id="signup" onclick="nav_side2()">
                <p>注册</p>
            </div>
        </a>
        <a href="#">
            <div id="login" onclick="nav_side1()">
                <p>登陆</p>
            </div>
        </a>
    {{ } }}
</script>
<script>
    getAvater();
    function getAvater() {
        $.get("/user/avatar", (result) => {
            //模板函数
            let compiled = _.template($("#userTemplate").html())
                //数据绑定
                let html = compiled({
                    isLogin: result.isLogin,
                    avatar: result.avatar,
                    username:result.username
                })
                $(".userAvater").append($(html))
        })
    }
</script>